@CHARSET "UTF-8";

.calPanl {
	width: 275px;
	border: red solid 0px;
}

.showPanl {
	float: left;
	width: 196px;
	border: 2px solid tan;
}

.leftPanl {
	float: left;
	width: 118px;
	border: 2px solid tan;
	border-right-width: 0px;
	border-top-width: 0px;
}

.ctrlPanl,.numPanl {
	margin-left: 4px;
}

.operPanl {
	float: left;
	width: 78px;
	border:  2px solid tan;
	border-left-width: 0px;
	border-top-width: 0px;
}

.showPanl input {
	padding: 0px 1px 0px 2px;
	width: 190px;
	height: 40px;
	font-size: 20px;
	text-align: right;
}

#numPanlc_btn_10,#operPanlc_btn_8 {
	width: 73px;
}

button {
	margin: 1px 2px 1px 1px;
	padding: 1px 1px 1px 1px;
	float: left;
	width: 35px;
	height: 33px;
}